.card {
  border-left: 2px solid white;
  padding: 1rem;
  cursor: pointer; 
  transition-duration: 100ms;
  overflow: hidden;
}

.card:hover {
  background-color: #2a394b;
}

.card h2 {
  margin-top: 0;
  text-overflow: clip;
  white-space: nowrap;
  overflow: hidden;
}

.card p:last-child {
  margin-bottom: 0;
}

.card-wrapper, .card-wrapper:hover {
  text-decoration: none;
  color: inherit
}

.home-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}